
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  color: black;
  top: 10px;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  color: black;
  top: 10px;
}


body {
background-color: #f0f0f0;
background-repeat: no-repeat;
background-position: 50% 50%;
overflow-x: hidden;
background-image: linear-gradient(to right, gray, white, gray);
padding-bottom: 500px;
}

p {
  font-family: Calibri;
  font-size: 20px;
  color: black;
  position: relative;
  line-height: 20px;
  text-align: center;
}


header nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
header nav li {
  float: right;
}

header nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative;
}

header nav li a:hover {
  background-color: lightblue;
}

nav li a.active {
  background-color: lightblue;
  color: white;
}

img {
display: block;
margin-right: auto;
margin-left: auto;
}